*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #453db8, #000000);
    /* background: black; */
    color: #fff;
}

